server:
  port: 8088
spring:
  application:
    name: risk-service
  datasource:
    url: jdbc:postgresql://localhost:5432/risk_service
    username: risk_svc
    password: changeMe!
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: risk-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{correlationId}] %logger{36} - %msg%n"
  level:
    com.banking.risk: INFO
    org.springframework.web: INFO
    org.hibernate: WARN
    org.apache.kafka: WARN
    org.springframework.kafka: INFO
  config: classpath:logback-spring.xml

risk:
  security:
    enabled: false  # When true, JWT Bearer auth is required for APIs

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  tracing:
    sampling:
      probability: 1.0
