server:
  port: 8091

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: identity-service
          uri: http://localhost:8082
          predicates:
            - Path=/identity/**
          filters:
            - StripPrefix=1
        - id: customer-service
          uri: http://localhost:8081
          predicates:
            - Path=/customers/**
          filters:
            - StripPrefix=1
        - id: account-service
          uri: http://localhost:8080
          predicates:
            - Path=/accounts/**
          filters:
            - StripPrefix=1
        - id: kyc-service
          uri: http://localhost:8084
          predicates:
            - Path=/kyc/**
          filters:
            - StripPrefix=1
        - id: card-service
          uri: http://localhost:8084
          predicates:
            - Path=/cards/**
          filters:
            - StripPrefix=1
        - id: ledger-service
          uri: http://localhost:8085
          predicates:
            - Path=/ledger/**
          filters:
            - StripPrefix=1
        - id: loan-service
          uri: http://localhost:8086
          predicates:
            - Path=/loans/**
          filters:
            - StripPrefix=1
        - id: payment-service
          uri: http://localhost:8087
          predicates:
            - Path=/payments/**
          filters:
            - StripPrefix=1
        - id: risk-service
          uri: http://localhost:8088
          predicates:
            - Path=/risk/**
          filters:
            - StripPrefix=1
        - id: compliance-service
          uri: http://localhost:8083
          predicates:
            - Path=/compliance/**
          filters:
            - StripPrefix=1
        - id: support-service
          uri: http://localhost:8092
          predicates:
            - Path=/support/**
          filters:
            - StripPrefix=1
        - id: transaction-service
          uri: http://localhost:8090
          predicates:
            - Path=/transactions/**
          filters:
            - StripPrefix=1
        - id: scheduler-service
          uri: http://localhost:8093
          predicates:
            - Path=/scheduler/**
          filters:
            - StripPrefix=1
        - id: document-service
          uri: http://localhost:8094
          predicates:
            - Path=/documents/**
          filters:
            - StripPrefix=1
        - id: health-aggregator
          uri: http://localhost:8095
          predicates:
            - Path=/health-status/**
          filters:
            - StripPrefix=1
        - id: notification-service
          uri: http://localhost:8096
          predicates:
            - Path=/notifications/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  tracing:
    sampling:
      probability: 1.0

# For now, we keep security disabled at the gateway and rely on backend services
# to enforce JWT. You can later enable OAuth2 resource-server here as well.

gateway:
  security:
    enabled: false
